@font-face {
    font-family: 'Montserrat';
    src: url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('font/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Apricot';
    src: url('font/Apricot-BF650c4a6357ce1.otf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #474747;
}

.headerup {
    width: 100%;
    height: 10%;
    background-color: #474747;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.3s;
}

hr.white {
    color: #F6F4F3;
    background-color: #F6F4F3;
    height: 1px; 
    border: none; 
    margin-bottom: 2.5%;
    margin-left: 8.5%;
    margin-right: 9%;
}

.navbar {
    width: 100%;
    height: 75px;
    line-height: 100px;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    max-height: fit-content;
    max-width: 70px;
    margin-top: 1%;
    margin-left: 1.5%;
    cursor: pointer;
}
.navbar h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #F6F4F3;
    margin-left: -220px;
}
.navbar ul li {
    margin-left: 100%;
    margin-right: 25%;
    margin-top: 0ch;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    font-size: 30px;
    text-decoration: none;
    color: #F6F4F3;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #E6D48A;
    transition: all 0.4s ease 0s;

}
.navbar ul li :hover::after{
    width: 100%;
}

.background-image {
    width: 100%;
    height: 90%;
    margin-top: 85px;
    background-image: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.50)), url('./try.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #F6F4F3;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.fixed-button.hidden {
    opacity: 0;
    pointer-events: none;
}

.content h1 {
    font-family: 'Shrikhand';
    font-size: 90px;
    font-style: italic;
}

.content h2 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: lighter;
}

.content h3 {
    font-size: 30px;
    margin-top: 10px;
    font-weight: lighter;
}
.content h6 {
    font-size: 15px;
    margin-top: 10px;
    font-weight: lighter;
}
.content h2.main-header {
    font-size: 30px;
    margin-top: 10px;
    font-weight: lighter;}

.button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.button-container button {
    align-items: last baseline;
    font-size: large;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bolder;
    border: 2px solid #D1C8C1;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.button-container span {
    background: #D1C8C1;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.button-container button:hover span {
    width: 100%;
}

.button-container button:hover {
    border: none;
    color: black;
}



.that-services {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 250px;
    max-width: 0 10px;
    height: 75%;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    margin-right: 10px;
}

.box img {
    display: block;
    width: 100%;
    height: 75%;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.25);
    z-index: 2;
    height: 75%;
}

.box h2.service-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    z-index: 1;
    visibility: hidden;
}

.box:hover h2.service-header {
    visibility: visible;
}

.our {
    margin-bottom: 10px;
    position: relative;
}

.likod {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 120px;
    margin-left: 550px;
    object-fit: cover;
    background-size: cover;
    z-index: -1;
}

.our h1 {
    margin-top: 2.5%;
    font-family: 'Apricot';
    font-size: 60px;
    text-align: center;
    color: #F6F4F3;
    margin-bottom: -80px;
    position: relative;
    z-index: 1;
}

.our h2 {
    font-size: 30px;
    margin-top: 0;
    color: #F6F4F3;
    font-family: 'Montserrat';
    font-weight: normal;
    text-align: center;
}


.stall {
    margin-top: 10px;
}

.that-services {
    margin-bottom: 10px;
}

.button-fixed {
    position: relative;
    text-align: center;
    margin-top: 20px;
}


.another-button {
    margin-top: 20px;
    background-color: #D1C8C1;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
}

.logo-bottom {
    display: block;
    margin: 0 auto; 
    text-align: center; 
}

.hr_below {
    color: #F6F4F3;
    background-color: #F6F4F3;
    height: 1px; 
    border: none; 
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

footer {
    background-color: #474747;
    color: #F6F4F3;
    text-align: center;
    padding: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 14px;
}
