@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../font/Shrikhand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Apricots';
    src: url('../font/Apricot-BF650c4a6357ce1.otf') format('truetype');
}

@font-face {
    font-family: 'Apricot';
    src: url('../font/Apricot\ Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #474747;
}

.headerup {
    width: 100%;
    height: 10%;
    background-color: #474747;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: 0.3s;
}

hr.white {
  color: #F6F4F3;
  background-color: #F6F4F3;
  height: 1px; 
  border: none; 
  margin-bottom: 2.5%;
  margin-left: 8.5%;
  margin-right: 9%;
}

.navbar {
    width: 100%;
    height: 75px;
    line-height: 100px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 70px;
    margin-top: 1%;
    margin-left: 1.5%;
    cursor: pointer;
}
.navbar h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #F6F4F3;
    margin-left: -220px;
}
.navbar ul li {
    margin-right: 15%;
    margin-top: 0ch;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    font-size: 30px;
    text-decoration: none;
    color: #F6F4F3;
    font-weight: normal;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    color: #E6D48A;
    transition: all 0.4s ease 0s;

}

.navbar ul li :hover::after{
    width: 100%;
}

.all {
    background-color: #474747;
    margin-top: 90px;
}
.about_1 {
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    margin-top: 90px;
}
.welcome_to {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.above_beauty {
  font-size: 50px;
  color: #DAA520;
  text-align: center;
  font-family: 'Apricots';
}
.beauty_meets{
  font-size: 50px;
  text-align: center;
  font-family: 'Apricots';
  color: white;
  margin-bottom: 45px;
}
.description_1 {
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  color: white;
}
.description_2 {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.description_3 {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.what_sets {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  font-family: 'Apricots';
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
}
.first_bullet {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.second_bullet {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.third_bullet {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.as_a_salon {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.we_invite {
  color: white;
  font-size: 30px;
  margin-left: 70px;
  margin-right: 50px;
  margin-top: 20px;
}
.hr_below {
  color: #F6F4F3;
  background-color: #F6F4F3;
  height: 1px; 
  border: none; 
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
footer {
    background-color: #474747;
    color: #F6F4F3;
    text-align: center;
    padding: 10px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    font-size: 14px;
}
